h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 30px;
    color: rgba(250, 43, 157, 0.767);
}

.lista{
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    margin-left: -15px;
}

body:after {
    content: "<Stephanie Wong/>"; 
    font-family: 'Arial Narrow','Franklin Gothic Medium', Arial, sans-serif;
    font-size: 100px;  
    color: rgba(182, 61, 238, 0.4);
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }